@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Roslindale';
        src: url('/fonts/RoslindaleVariable-VF.woff2') format('woff2');
        font-weight: 300 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'ABCMonument';
        src: url('/fonts/ABCMonument.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'ABCMonument';
        src: url('/fonts/ABCMonument-Bold.woff2') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    :root {
        --color-text-main: 23 23 23;
        /* #171717 */
        --color-bg-main: 242 241 236;
        /* #F2F1EC */
        --color-bg-muted: 234 233 225;
        /* #EAE9E1 */
        --color-border-main: 23 23 23;
        /* #171717 */
    }

    html.dark {
        --color-text-main: 242 241 236;
        /* #F2F1EC */
        --color-bg-main: 23 23 23;
        /* #171717 */
        --color-bg-muted: 36 36 36;
        /* #242424 */
        --color-border-main: 242 241 236;
        /* #F2F1EC */
    }

    article {
        @apply prose prose-dante max-w-none;
    }

    @screen md {
        article {
            @apply prose-lg;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif;
    }

    h1 {
        @apply tracking-[0.02em];
        font-variation-settings:
            'wght' 600,
            'opsz' 28;
        font-size: clamp(2rem, 5.56vw, 4.5rem);
        line-height: 1;
    }

    h2 {
        @apply prose prose-dante;
        font-variation-settings:
            'wght' 500,
            'opsz' 22;
        font-size: clamp(1.25rem, 5.56vw, 2rem);
    }

    /* .text-xl {
        font-variation-settings:
            'wght' 500,
            'opsz' 22;
        font-size: clamp(1.5rem, 5.56vw, 3.5rem);
        letter-spacing: 0.02em;
        line-height: 1;
    } */

    h3 {
        font-variation-settings:
            'wght' 500,
            'opsz' 16;
        font-size: clamp(1.25rem, 0.7857rem + 0.9524vw, 1.5rem);
        letter-spacing: 0;
        line-height: 1;
    }

    blockquote {
        @apply m-0 font-serif border-none italic leading-normal p-0 text-gray-950 text-opacity-75 dark:text-gray-300;
        font-variation-settings:
            'wght' 300,
            'opsz' 22;

        font-size: clamp(1.5rem, 5.56vw, 2.25rem);
    }

    @screen md {
        blockquote {
            @apply leading-normal;
        }
    }

    /* .prose p {
        font-variation-settings:
            'wght' 600,
            'opsz' 16;
        
    } */

    /* Cyan */
    /*
    :root {
        --color-text-main: 22 42 43;
        --color-bg-main: 214 224 226;
        --color-bg-muted: 204 216 219;
        --color-border-main: 22 42 43;
    }
    html.dark {
        --color-text-main: 214 224 226;
        --color-bg-main: 22 42 43;
        --color-bg-muted: 28 53 55;
        --color-border-main: 214 224 226;
    }
    */

    /* Green */
    /*
    :root {
        --color-text-main: 58 66 56;
        --color-bg-main: 243 239 230;
        --color-bg-muted: 238 233 220;
        --color-border-main: 58 66 56;
    }
    html.dark {
        --color-text-main: 243 239 230;
        --color-bg-main: 94 108 91;
        --color-bg-muted: 89 103 86;
        --color-border-main: 243 239 230;
    }
    */
}
