---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
import PostPreview from '../components/PostPreview.astro';
import siteConfig from '../data/site-config';
import { sortItemsByDateDesc } from '../utils/data-utils';
import { loadQuery } from '../../studio/lib/load-query';

const { data: posts } = (await loadQuery({
    query: `*[_type == "post" && isFeatured == true] | order(publishedAt desc)`
})) as { data: Array<{ title: string; slug: { current: string }; publishDate: Date; seo: { description: string }; isFeatured: boolean; tags: string[] }> };

const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
// const featuredProjects = projects.filter(({ data }) => data.isFeatured);
---

<BaseLayout
    description={siteConfig.description}
    image={siteConfig.image}
>
    <Hero />

    {
        posts?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h4 class="mb-12 font-sans sm:mb-8">Writing</h4>
                {posts.map((post) => (
                    <PostPreview
                        post={post}
                        class="mb-10 sm:mb-12"
                        headingLevel="h3"
                    />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/blog">View All Posts</Button>
                </div>
            </div>
        )
    }
    <!-- {
        featuredProjects?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 font-sans sm:mb-16">Projects</h2>
                {featuredProjects.map((project) => (
                    <ProjectPreview project={project} class="mb-10 sm:mb-12" headingLevel="h3" />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/projects">View All Projects</Button>
                </div>
            </div>
        )
    } -->
</BaseLayout>
